*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
}
.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0090F6;
    border: none;
    color: white;
    font-size: 1rem;
    padding: .8rem 1.6rem;
    border-radius: 4px;
}

.modal {
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2000;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.49);
}

.product-box-body {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.product-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}
.product-box > div {
    width: 100%;
    box-shadow: none;
}
.closing-button {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem 0 0;
}
.close {
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 600;
    color: #333;
    display: none;
}
.close-mobile {
    font-size: 2.2rem;
    cursor: pointer;
    font-weight: 600;
    color: #333;
    margin-right: 10px;
}
.close-area {
    display: flex;
    justify-content: flex-end;
}
.img-box {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-box > .photo-box{
    width: 80%;
}
.product-name .title{
    margin-right: 10px;
    font-size: 1.1rem;
    color: #333;
    line-height: 1;
}
.product-name {
    display: flex;
}
.price {
    color: #0090F6;
    font-size: 1.5rem;
    font-weight: bold;
    margin: .9rem 0 0 0;
}
.content {
    width: 50%;
    background-color: #fff;
    z-index: 1;
    padding: 30px 35px;
}
.size {
    color: #333;
    font-size: .9rem;
    margin: 1rem 0 0 0;
}
.size-container {
    display: flex;
    flex-wrap: wrap;
}
.size-button {
    height: 35px;
    width: 100%;
    margin: .5rem .2rem 0 0;
    border: 1px solid #C3C7C8;
    border-radius: 5px;
    background-color: white;
    padding: .3rem .7rem;
    font-size: .8rem;
}
.size-button:hover {
    border: 2px solid #0090F6;
}
.colors {
    display: block;
    margin: .5rem 0 0 0;
}

.color {
    color: #333;
    font-size: .9rem;
    margin: 1.2rem 0 0 0;
}
.options {
    margin: .4rem 0 0 0;
    height: 35px;
    width: 100%;
    font-size: .8rem;
    background-color: #fff;
    border: 1px solid #C3C7C8;
    border-radius: 4px;
}
.availablity_delivery, .availability, .delivery-box {
    display: flex;
    width: 100%;
    font-size: .9rem;
    margin: .6rem 0 0 0;
}
.availablity_delivery {
    flex-wrap: wrap;
}
.icon {
    margin: 0 .4rem 0 0;
    font-size: 1.1rem;
}
.icon-delivery {
    margin: 0 .3rem 0 0;
}
.delivery-time {
    text-decoration: none;
    color: #0090F6;
}
.counter_submit{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0 0;
}
.counter_area {
    display: flex;
}
.input[text] {
    border: none;
}
.counter_area {
    width: 40%;
    border: 1px solid #C3C7C8;
    border-radius: 4px;
    text-align: center;
}
.plus, .minus{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    padding: 0 .8rem;
}
input {
    width: 70%;
    border: none;
    text-align: center;
}

.submit {
    background-color: #0090F6;
    border: none;
    color: white;
    font-size: .8rem;
    padding: .9rem .7rem;
    border-radius: 4px;
}
.submit:disabled {
    filter: grayscale(0.7);
}
.submit_area {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

.active {
    border: 2px solid #0090F6;
}

.visible {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.visible-flex {
    display: flex;
}

.no-visible {
    display: none;
}
.fa-check {
    color: #5CBA0E;
}
.fa-times {
    color: red;
}
.fa-angle-right, .fa-angle-left {
    color: #333;
    font-size: 1.5rem;
}
.photo-box {
    width: 229px;
    height: 166px;
}
.set {
    width: 100%;
    height: 100%;
    display: none;
}
.photo {
    width: 100%;
    height: 100%;
    display: none;
}
.current-photo, .current-set {
    display: block;
}
.fa-angle-left {
    margin: 0 5px 0 0;
}
.fa-angle-right {
    margin: 0 0 0 5px;
}
.fa-angle-left, .fa-angle-right {
    width: 15px;
}
.minus, .plus {
    background-color: #fff;
    border: none;
}
.disabled {
    background-color: #e0e0e0;
}

@media (min-width: 429px) {
    .modal {
        padding: 5%;
    }
    .img-box > .photo-box{
        width: 60%;
    }
    .product-name .title{
        margin-right: 10px;
        font-size: 1.4rem;
    }
    .price {
        font-size: 1.5rem;
        margin: .9rem 0 0 0;
    }
    .content {
        width: 50%;
        padding: 35px 40px;
    }
    .size {
        font-size: .9rem;
        margin: 1rem 0 0 0;
    }
    .size-button {
        height: 35px;
        width: 90px;
        margin: .5rem .8rem 0 0;
        padding: 7px 8px;
        font-size: .7rem;
    }
    .colors {
        margin: .5rem 0 0 0;
    }
    .color {
        font-size: .9rem;
        margin: 1.2rem 0 0 0;
    }
    .options {
        margin: .4rem 0 0 0;
        height: 35px;
        font-size: .7rem;
    }
    .availablity_delivery, .availability, .delivery-box {
        font-size: .8rem;
    }
    .available {
        width: 63%;
    }
    .availablity_delivery {
        margin: 1.2rem 0 0 0;
        flex-wrap: nowrap;
    }
    .icon, .icon-delivery {
        margin: 0 .5rem 0 0;
    }
    .submit {
        font-size: 15px;
        padding: 1rem 1.5rem;
    }
    .visible {
            display: flex;
            align-items: center;
            justify-content: center;
    }
    .visible-flex {
        display: flex;
        justify-content: flex-end;
    }
    
    .no-visible {
        display: none;
    }
    .delivery-box {
        justify-content: flex-end;
    }
    .fa-angle-left {
        margin: 0 30px 0 0;
    }
    .fa-angle-right {
        margin: 0 0 0 30px;
    }
}
@media (min-width: 520px) {
    .modal {
        padding: 13%;
    }
}
@media (min-width: 720px) {
    .btn {
        font-size: 2rem;
        padding: 2rem 4rem;
    }
    .modal {
        height: 100vh;
        position: fixed;
    }
    .close-area {
        display: none;
    }
    .modal {
        padding: .5rem;
    }
    .product-box > .content {
        width: 52.25%;
    }
    .product-box > .img-box {
        width: 47.75%;
    }
    .product-name .title {
        margin-right: 0;
    }
    .close {
        display: flex;
        margin-left: 2.625rem;
    }
    .product-box {
        flex-direction: row;
    }
    .product-box-body {
        top: 0;
        padding: 1rem;
    }
    input {
        width: 50%;
    }
    .content {
        padding: 35px 20px;
    }
}
@media (min-width: 992px) {
    .product-box-body {
        padding: 5rem;
    }
    .content {
        padding: 35px 30px;
    }
}
@media (min-width: 1200px) {
    .modal {
        padding: 4rem;
    }
    .product-box-body {
        padding: 10rem;
    }
    .content {
        padding: 35px 40px;
    }
}
@media (min-width: 1350px) {
   .modal {
        padding: 0;
    }
    .product-box-body {
        width: 745px;
        height: 384px;
        padding: 0;
    }
    .product-box {
        padding: 23px 19px 36px 40px;
        height: 100%;
        width: 100%;
    }
    .content {
        padding: 0;
        width: 371px;
    }
    .product-name .title{
        font-size: 16px;
        width: 310px
    }
    .price {
        margin: 13px 0 0 0;
        font-size: 16px;
    }
    .size {
        margin: 17px 0 0 0;
        font-size: 13px;
    }
    .size-button {
        margin: 9px 15px 0 0;
        width: 99px;
        height: 35px;
        font-size: 12px;
    }
    .colors {
        margin: 0;
    }
    .color {
        margin: 22px 0 0 0;
        font-size: 13px;
    }
    .options {
        margin: 9px 0 0 0;
        width: 100%;
        height: 37px;
        font-size: 12px;
        padding: 12px 310px 11px 13px;
    }
    .availablity_delivery {
        margin: 18px 0 0 0;
    }
    .icon {
        margin: 0 12px 0 0;
        width: 15px;
        height: 15px;
    }
    .available  {
        font-size: 13px;
        margin: 2px 0 0 0;
        width: 100%;
    }
    .availability {
        width: 73%;
    }
    .icon {
        font-size: .9375rem;
    }
    .delivery-time {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }
    .delivery-info {
        font-size: .8125rem;
    }
    .counter_submit {
        margin: 1.25rem 0 0 0;
    }
    .counter_area {
        width: 61%;
    }
    .submit {
        font-size: .9375rem;
        padding: 1rem 2.8rem 1rem 2.875rem;
        font-weight: 600;
        width: 13.625rem;
        height: 3.125rem;
    }
}
